@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
img{height:70px;
width:70px;
margin-bottom:5px;
margin-top:10px;
}
.content{padding:10px;
font-family:Roboto;
}
p{color:grey;
font-size:18px;
}
.boldtext{font-weight: bold;
color:black;
font-style:italic;
}
h1{font-family:Roboto;
font-weight: bold;
margin-top:15px;
padding-bottom:20px;
}
